@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Pacifico&family=Poppins:ital,wght@1,300&display=swap');

*{
  margin: 0;
  padding: 0;
}

#topic{
  width: 100%;
  height: 120px;
  text-align: left;
  padding-left: 40px;
  border-bottom: 1px solid #f5f3f4;
  background-image: url("../img/back.jpg");
  color:#f5f3f4;
  font-size: 25px;
  line-height:180px;
  margin-left:  0;
  float: left;
  font-family: 'Pacifico', cursive;
}

.class-text{
  color: white;
  border: 1px solid #f5f3f4;
  width: 20%;
  float: right;
  height: 45px;
  line-height:45px;
  font-size: 18px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: #7a797f;
}

#header{
  height: 45px;
  line-height:45px;
  width: 40%;
  float: right;
  border-left: none;
  padding-right: 5%;
}

#greeting {
  width: 100%;
  height: 100px;
  text-align:center;
  font-family: 'Abel', sans-serif;
  border-bottom: 1px solid #f5f3f4;
  background:#9da1a0;
  color:#f5f3f4;
  font-size: 30px;
  font-style: italic;
  line-height:100px;
  margin-bottom: 50 px;
  float:left;
  font-family: 'Pacifico', cursive;
  padding-left: 50px;
}

#main, .aside {
  margin-top: 20px;
  border: 1px solid #f5f3f4;
  opacity: 100%;
  background:#9da1a0;
  margin-left: 2%;
  border-radius: 15px;


}

#main{
 width:70%;
 color:  #f5f3f4;
 font-size: 22px;
 text-align:justify;
 float: left;
 padding: 20px 2.5%;
}

.aside{
 width: 22%;
 height: 550px
 text-align: left;
 padding-left: 10px;
 float: right;
 margin-right: 2%;
 padding: 20px 2.5%;
 color:#f5f3f4;
}

#left-aside{
 width:30%;
 float: left;

}

#center{
 width:40%;
 margin-left:0;
 margin-right:0;

}

.table{
 color: var(--#{$prefix}table-color);
 border-color: var(--#{$prefix}table-border-color);
 box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);

 }

#control{
 color:  #f5f3f4;
 font-family: 'Poppins', sans-serif;
 float: left;
 overflow-x:auto;
}

#footer{
 margin-top: 20px;
 color:  #f5f3f4;
 float:left;
 width: 100%;
 text-align: left;
 padding-left: 50px;
 border: 1px solid #f5f3f4;
 background-color:#7a797f;
 line-height:50px;
 font-family: 'Poppins', sans-serif;
 font-size: 16px
}

.aside-link , .head-link{
  text-decoration: none;
  color: #f5f3f4;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}
.aside-link :hover{
  text-decoration: underline;
  text-decoration-color: #f5f3f4;
  color: #f5f3f4;

}
.head-link:hover{
  text-decoration: underline;
  text-decoration-color: #f5f3f4;
  color: #f5f3f4;
  font-size:23px;
  transform: scale (0.3);
  transition:transform .3s ease;
}

.create{
width:100%;
padding-right:10px;

}
placeholder{
font-size:12px;
}

#search{
 width: 70%;
 height: 30px;
 line-height:45px;,
}

.button_add , .button_cancel{
color: white;
float:left;
border-radius: 15px;
background:#35274e;
font-size: 18px;
padding: 8px 20px;
font-family: 'Poppins', sans-serif;
border: none;
margin:10px;
}

.button_cancel{
float:right;
background:#df3737;
}

.footer_text{
  text-align: left;
  color:#f5f3f4;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
}

#footer_txt{
  text-align: left;
  color:#f5f3f4;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  padding-left: 1250px;
}

.table-cell-ing{
width:900px;
font-size:20px
}

.table-cell{
width:300px;
}

.center_article{
  text-align: justify;
  padding: 10px 10px;
  color:#f5f3f4;
  font-size: 20px;
  font-style:italic;
}

