{% extends 'main/layout.html' %}

{% block greeting%}
Ждем ваши лучшие рецепты!
{% endblock %}
{% block content%}
<div id="main">
 <p>Хотите, чтобы про вас узнали, и что бы по вашему рецепту готовил весь мир?
       Тогда регистрируйтесь у нас на сайте, и тогда откроется возможность загружать рецепты прямо нам на сайт и
       оставлять отзывы на рецепты других читателей!</p>
 <p> Каждую месяц мы публикуем три лучших рецепта в разделе "Рецепты месяца".
        Не упустите шанс рассказать о своем кулинарном увлечении и стать лучшим!</p>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
</div>
{% endblock %}

