{% extends 'main/layout.html' %}

{% block greeting%} Привет, я сайт твоих рецептов {% endblock %}
{% block content%}
<div id="main">Хочешь, чтобы про тебя узнали, и что бы по твоему рецепту готовил весь мир?
      Тогда присылай нам на почту свои рецепты, фото и видео, с подробным описанием приготовления блюда,
       и твой рецепт обязательно попадет на страницы нашего сайта!
       <br>
       Каждую неделю мы публикуем три лучших рецепта в разделе "Рецепты недели",
        а лучший рецепт будет опубликован на главной странице нашего сайта!
        Не упусти шанс рассказать о своем кулинарном увлечении и стань лучшим!
</div>
{% endblock %}

