{% extends 'main/layout.html' %}

{% block greeting%} Привет, я сайт твоих рецептов {% endblock %}
{% block content%}
<div id="main">
   <p>Здесь можно расчитать рецепт, его стоимость и ккал без регистрации. </p>
    <br>
    <p>Нужно учитывать, что без регистрации рецепт не сохранится.</p>

<!--            <form method="post">-->
<!--        {% csrf_token %}-->
<!--                <input type="text" name="list" defoult="">-->
<!--        название:  <input type="text" name="ing" defoult=""><br>-->
<!--        Калории:  <input type="text" name="cal">-->
<!--        Цена:  <input type="text" name="price"><br>-->
<!--        Kоличество:  <input type="text" name="count"><br>-->
<!--&lt;!&ndash;             <span>{{error}}</span>&ndash;&gt;-->
<!--            <br>-->
<!--            <button type="submit" class="btn btn-primary">Добавить</button>-->
<!--        </form>-->
<!--{{list}}-->
<!--    <form action="{%url 'summa'%}">-->


<!--       1 число:  <input type="text" name="num1"><br>-->
<!--       2 число:  <input type="text" name="num2"><br>-->
<!--        <input type="submit"> <button class="button_add>-->


<!--    </form>-->

</div>


    {% endblock %}