{% extends 'main/layout.html' %}

{% block greeting%} Страница удаления {% endblock %}
{% block content%}
<div id="main">
<p><a href="{% url 'edit_page' %}" class="button_add">Вернуться назад</a></p>
    <br>
    <br>
    <p> Внимание! После удаления восстановить будет невозможно!</p>
     <br>
        <div>
         <form method="post">
         {% csrf_token %}
               {{form.title}}
             <button type="submit" class="button_cancel" style="float: left">Удалить</button>
         </form>
        </div>
   </div>
{% endblock %}
