{% extends 'main/layout.html' %}


{% block greeting%} Рецепт "{{article.title}}" {% endblock %}
{% block content%}
<div id="main">

          <br>
          <h3>{{article.title}}</h3>
          <p>{{article.compound}}</p>
          <p>{{article.cooking}}</p>
          <br>
          <br>
 <p>Мы будем рады вашим комментариям! <p>
<p>Добавить комментарий</p>


            <br>
            <br>
      {% if messages %}
            <div class="alert alert-success">
                {%for el in messages %}
                {{el}}
                {% endfor %}
            </div>
          {%endif%}
        <div class="col-4">
 <form action="" id="add_form" method="post" >
   {% csrf_token %}
        {{form.as_p}}
   </form>
{% if request.user.is_authenticated%}
<button form="add_form" type="submit" class="btn btn-primary">Добавить коментарий </button>
{% else %}
<button form="add_form" type="submit" class="btn btn-primary" disabled>Добавить коментарий </button><p>(только для зарегистрированных пользователей)</p>
{% endif %}
</div>

    <p>Комментарии </p>
    <ul>
{{all}}
    {%for i in article.comments_recipes.all%}
        {% if i.status == True%}
    <li>
    {{i.author}}
    {{i.create_date}}
    {{i.text}}


     </li>
        {% endif%}
    {% endfor %}
    </ul>

</div>

{% endblock %}


