
{% extends 'main/layout.html' %}

{% block greeting%} База ингредиентов.   Калькулятор рецептов {% endblock %}
{% block content%}


<div class="aside" id="left-aside">

      <form method="get" action="{%url 'search'%}" class="d-flex editContent">
          <input type="search" placeholder="Поиск ингридиента" name="q" class="form-control" required="">
          <button type="submit"  class="button_add btn-sm">
              <span class="fa fa-search" aria-hidden="true">Найти</span>
          </button>
      </form>
<br>
  <h4><big> База ингредиентов </big></h4>
  <br>
  {% for el in ing%}
  <p><a href={% url 'ingredient_details' el.id %} class='aside-link' title="Нажми, чтобы посмотреть" >{{el.ingredient}}</a></p>
   {%endfor%}
</div>

<div class="aside" id="center">


</div>


    {% endblock %}



