{% extends 'main/layout.html' %}

{% block greeting%} Лучшие рецепты наших читателей {% endblock %}
{% block content%}

<!--        {% for el in context%}-->
<!--        <div id="main">-->
<!--          <br>-->
<!--          <h3>{{ el.title }}</h3>-->
<!--          <p>{{ el.compound}}</p>-->
<!--{{q}}-->
<!--&lt;!&ndash;          <br>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href={% url 'recipe-detail' el.id %} class='btn btn-dark'>Читать полностью</a>&ndash;&gt;-->
<!--        </div>-->

<!--        {% endfor %}-->
{% endblock %}

